.title {
  color: rgb(6, 232, 147);
  font-size: 48px;
}

.logo {
  fill: rgb(6, 232, 147);
}

.link {
  color: rgb(238, 253, 255);
  text-decoration: none;
}

.card {
  background-color: rgb(10, 78, 131);
  margin-top: 1rem;
  padding-left: 100px;
  padding-right: 100px;
}

.grid {
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.signup {
  font-weight: bold;
}
