.textField {
  background-color: rgb(238, 253, 255);
}
.textField:last-of-type {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.submitButton {
  background-color: rgb(6, 232, 147);
  color: rgb(10, 78, 131);
  width: 20em;
  height: 3em;
}
.name {
  margin-right: 1rem;
}

.submitButton:hover {
  background-color: rgb(6, 232, 147);
}
.label {
  color: rgb(10, 78, 131);
}

.label:focus {
  color: rgb(10, 78, 131);
}
